/*header */
header
{
    background-color: #9cb2a5;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

header h1
{
    margin-top: 15%;
    color: white;
}

nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 0px;
    border: 1px solid #9cb2a5;
    padding: 10px 30px 60px 30px;
}

nav a
{
	font-size: 1.1em;
	color: #e3dbd3;
	text-decoration: none;
}
.logo
{
    display: flex;
}
/*/////////////////////////////*/
/*section*/ 
body
{
    background-color: #e3dbd3;
}