header
{
	background-color: black;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
header h1
{
	font-size: 3em;
	margin-left: 20px;
	color: grey;
}
nav ul
{
	list-style-type: none;
	display: flex;
	margin-right: 50px;
}
nav li
{
	margin-right: 0px;
	border: 1px solid black;
	padding: 10px 30px 10px 30px;
}
nav a
{
	font-size: 1.1em;
	color: white;
	text-decoration: none;
}
body
{
	background-color: #d9d9d9
}
section
{
	font-size: 2em;
	margin-left: 50px;
	margin-top: 50px;
}